*,
*::after,
*::before {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    min-height: 100vh;
    min-width: 100vh;
    background-color: rgb(31, 41, 55);
    /* background-color: rgb(62, 75, 92); */
    color: rgb(249, 250, 248);
    font-family: 'Courier New', Courier, monospace;

}

.title {
    text-align: center;
    font-size: 40px;
    padding: 1rem;
}
.board-container {
    width: 450px;
    height: 450px;
    display: grid;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    gap: 15px;
}
.btn-container button {
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
}
.picker, #color-picker {
    /* padding: px; */
    border: 15px solid #FF0000;
}
.output-container {
    display: flex;
    gap: 8px;
}
.output {
    resize: none;
    background-color: rgb(31, 41, 55);
    padding: 1px;
    text-align: center;
    color: rgb(249, 250, 248);
    border-radius: 2px;
}