*,
*::after,
*::before {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    min-height: 100vh;
    background-color: rgb(31, 41, 55);
    /* background-color: rgb(62, 75, 92); */
    color: rgb(249, 250, 248);
    font-family: 'Courier New', Courier, monospace;

}

.title {
    text-align: center;
    font-size: 45px;
    padding: 2rem;
}
.board-container {
    width: 500px;
    height: 500px;
    display: grid;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}
